@model ProjectReceitas.Models.Receita

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Deseja apagar essa receita?</h3>
<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraPreparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraPreparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinutoPreparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinutoPreparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rendimento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
