@model ProjectReceitas.Models.Receita

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraPreparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraPreparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinutoPreparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinutoPreparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rendimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
